/* src/Cart.css */
.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    margin-bottom: 10px;
  }
  
  .cart-item button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .cart-item button:hover {
    background-color: #c82333;
  }
  